.sconsign.dblite
.sconf_temp
*.cfgc
*.pyc
*.log
logs/

# Built by sconsUtils
version.py

# Pytest
.coverage
tests/.tests
pytest_session.txt
.cache/
.pytest_cache

# Vscode setting
.vscode/

# Mac related files
.DS_Store
.hypothesis/
.pre-commit-config.yaml
.flake8
.isort.cfg
.mypy.ini
.clang-format
.ruff.toml

# setuptools
.eggs
*.egg-info
